.vscode/
api/TemporalWarehouse.Api/bin/
api/TemporalWarehouse.Api/obj/
api/TemporalWarehouse.Api/appsettings.Development.json
api/TemporalWarehouse.Api/Migrations/
api/TemporalWarehouse.Api/TemporalWarehouse.Api.http
api/TemporalWarehouse.Test/obj/
api/TemporalWarehouse.Test/bin/
ui/
.editorConfig
.gitignore
README.md
