# fly.toml for the 'temporal-warehouse' app

app = "temporal-warehouse"
primary_region = "cdg"

[build]

  context = "."

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = "512mb"
  cpus = 1
  memory_mb = 512



