name: Build, Test and Deploy the API
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'api/**'

jobs:
    
  deploy-api:
    name: Deploy the API to Render.com
    runs-on: ubuntu-latest
    environment: Production

    defaults:
      run:
        working-directory: api

    steps:
      - name: Change working directory
        run: cd api
        
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: Restore dependencies
        run: dotnet restore

      - name: Build the API project
        run: dotnet build --configuration Release --no-restore

      - name: Run the API tests
        run: dotnet test --configuration Release --no-build --verbosity normal

      - name: Deploy to production
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}
