name: Build and Test the API
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'api/**'

jobs:
  build-api:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      
      - name: Restore dependencies
        run: dotnet restore

      - name: Build the API project
        run: dotnet build --configuration Release --no-restore

      - name: Run the API tests
        run: dotnet test --configuration Release --no-build --verbosity normal
        working-directory: api/TemporalWarehouse.Test

  deploy-api:
    name: Deploy the API to Fly.io
    runs-on: ubuntu-latest
    environment: Production
    needs: [build-api]
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_TOKEN }}

