name: Build and Test the API
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - 'api/**'

jobs:
    test-api:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: '10.0.x'
            - name: Run the API tests
              run: dotnet test --configuration Release --no-build --verbosity normal
              working-directory: api/TemporalWarehouse.Test

         